<h1>
<%= "Game ##{@game.id}" %>
</h1>

<div class="d-flex justify-content-around">
<div>
  <ul>
    <% @rounds.each do |round| %>
      <li>
        <%= round.points_player0 unless round.nil? %>
      </li>
      <% end %>
    </ul>
  </div>
  <div>
    <ul>
      <% @rounds.each do |round| %>
      <li>
        <%= round.points_player1 unless round.nil? %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to "Write down points", new_game_round_path(@game) %>
