<h1>
<%= "Game ##{@game.id}" %>
</h1>
<div class="d-flex">

  <div>
  <%  %>
  <ul>

  </ul>
  </div>
  <div>
  <ul>

  </ul>
  </div>
</div>

<%= link_to "Write down points", new_game_round_path(@game) %>
