<h1>Enter points of round</h1>

<%= simple_form_for [@game, @round] do |f|%>
  <%= f.input :oro, as: :radio_buttons, collection: [['player 1', 0],['player 2', 1], ["nobody", nil] ], label_method: :first, value_method: :second %>
  <%= f.input :sette %>
  <%= f.submit :submit %>
<% end %>

<div class="d-flex">
  <div>
  <%  %>
  <ul>

  </ul>
  </div>
  <div>
  <ul>

  </ul>
  </div>
</div>
